Repository db-ui/base, pull requests merged in 2022-09, with the labels that each got.

#15 chore: we actually want to emphasise this
  source/_patterns/icons/_icons.demonstration.scss
  source/_patterns/icons/functional/functional-icons.hbs
  source/_patterns/icons/illustrative/illustrative-icons.hbs
  source/_patterns/logo/_logo.demonstration.scss
  source/_patterns/logo/logo.hbs
Labels: documentation

#16 fix: corrected that demo images height
  source/_patterns/logo/_logo.demonstration.scss
Labels: bug, documentation

#9 refactor: icon library update
  assets/icons/functional/images/action/db_ic_block_20.svg
  assets/icons/functional/images/action/db_ic_block_24.svg
  assets/icons/functional/images/action/db_ic_block_32.svg
  assets/icons/functional/images/action/db_ic_block_solid_20.svg
  assets/icons/functional/images/action/db_ic_bug_20.svg
  assets/icons/functional/images/action/db_ic_bug_24.svg
  assets/icons/functional/images/action/db_ic_bug_32.svg
  assets/icons/functional/images/action/db_ic_key_20.svg
  assets/icons/functional/images/action/db_ic_key_24.svg
  assets/icons/functional/images/action/db_ic_key_32.svg
  assets/icons/functional/images/action/db_ic_lightbulb_20.svg
  assets/icons/functional/images/action/db_ic_lightbulb_24.svg
  assets/icons/functional/images/action/db_ic_lightbulb_32.svg
  assets/icons/functional/images/action/db_ic_thumb_up_20.svg
  assets/icons/functional/images/action/db_ic_thumb_up_24.svg
  assets/icons/functional/images/action/db_ic_thumb_up_32.svg
  assets/icons/functional/images/action/db_ic_thumb_up_down_20.svg
  assets/icons/functional/images/action/db_ic_thumb_up_down_24.svg
  assets/icons/functional/images/action/db_ic_thumb_up_down_32.svg
  assets/icons/functional/images/communication/db_ic_fax_20.svg
  assets/icons/functional/images/communication/db_ic_fax_24.svg
  assets/icons/functional/images/communication/db_ic_fax_32.svg
  assets/icons/functional/images/feature/db_ic_luggage_compartment_20.svg
  assets/icons/functional/images/transportation/inverted/db_ic_call_a_bike_inverted_20.svg
  assets/icons/functional/images/transportation/inverted/db_ic_call_a_bike_inverted_24.svg
  assets/icons/functional/images/transportation/inverted/db_ic_call_a_bike_inverted_32.svg
  assets/icons/functional/images/transportation/inverted/db_ic_train_and_car_inverted_20.svg
  assets/icons/functional/images/transportation/inverted/db_ic_train_and_car_inverted_24.svg
  assets/icons/functional/images/transportation/inverted/db_ic_train_and_car_inverted_32.svg
  assets/icons/functional/images/transportation/regular/db_ic_call_a_bike_20.svg
  assets/icons/functional/images/transportation/regular/db_ic_call_a_bike_24.svg
  assets/icons/functional/images/transportation/regular/db_ic_call_a_bike_32.svg
  assets/icons/functional/images/transportation/regular/db_ic_sev_20.svg
  assets/icons/functional/images/transportation/regular/db_ic_sev_24.svg
  assets/icons/functional/images/transportation/regular/db_ic_sev_32.svg
  assets/icons/functional/images/transportation/regular/db_ic_train_and_car_20.svg
  assets/icons/functional/images/transportation/regular/db_ic_train_and_car_24.svg
  assets/icons/functional/images/transportation/regular/db_ic_train_and_car_32.svg
  source/_patterns/icons/functional/functional-icons~action.json
  source/_patterns/icons/functional/functional-icons~transportation.json
Labels: enhancement

#18 feat: added configuration files for dependabot and labeler
  .github/dependabot.yml
  .github/labeler.yml
Labels: enhancement

#10 refactor(codeowners): added Anna & Duncan
  CODEOWNERS
Labels: enhancement

#28 Fix dependabot auto merge
  .github/workflows/default.yml
Labels: cicd

#32 Feat auto update
  .github/scripts/auto-update-pr.js
  .github/workflows/99-auto-update-pr.yml
  .github/workflows/auto-update.yml
Labels: cicd

#41 refactor: updated pattern lab dependencies
  package-lock.json
  package.json
Labels: dependencies

#46 feat: added first stack of transition tokens
  tokens/transition.json
Labels: enhancement, tokens

#48 fix: added missing dependency to fix the release pipeline
  .github/scripts/package-version.sh
  package-lock.json
  package.json
Labels: bug, cicd

#49 refactor: increase the limit of PRs being opened by dependabot in parallel
  .github/dependabot.yml
Labels: cicd

#60 fix: issue with default pipeline, add github-version-switcher to chec…
  .github/workflows/default.yml
  source/_meta/_head.hbs
Labels: cicd

#61 feat: add cleanup for gh-pages
  .github/scripts/cleanup-gh-pages.js
  .github/workflows/cleanup.yml
Labels: cicd
