Repository db-ui/base, pull requests merged in 2022-10, with the labels that each got.

#67 refactor: not pinning CI/CD dependencies
  .github/workflows/99-auto-merge.yml
Labels: cicd

#70 chore: simple JSON schema fix
  source/_data/data.json
Labels: bug

#62 feat: changed publish to deploy v3 branches with other tag
  .github/scripts/get-release.sh
  .github/scripts/publish-npm.sh
  .github/workflows/03-publish-packages.yml
Labels: cicd

#47 refactor: added pattern lab UI specific styles
  package-lock.json
  package.json
  patternlab-config.json
Labels: enhancement

#77 feat: added spacing-l token
  tokens/spacings.json
Labels: enhancement, tokens

#82 fix: renamed v3 to dbux-3 to map with style guidelines
  .github/scripts/publish-npm.sh
  .github/workflows/auto-update.yml
Labels: cicd

#84 ci: 🎡 Update styfle/cancel-workflow-action@0.11.0
  .github/workflows/00-init.yml
  package.json
Labels: cicd

#87 refactor: replaced eslint by xo eslint wrapper
  .eslintignore
  .eslintrc.js
  .prettierrc.json
  .xo-config.json
  README.md
  helpers/if-eq.js
  helpers/test.js
  package-lock.json
  package.json
  scripts/check-commit-mail.mjs
  scripts/tailwind-config-generator.mjs
  style-dictionary.js
Labels: enhancement, javascript

#91 refactor: using semantic release prefixes for the branch names
  package.json
Labels: enhancement

#93 feat: added code and text spell checker
  .vscode/extensions.json
Labels: enhancement

#95 feat: add checks-done job
  .github/workflows/default.yml
Labels: enhancement, cicd

#96 chore: let's make checks done great again
  .github/workflows/default.yml
Labels: cicd

#75 refactor: icon library update
  assets/icons/illustrative/action/db_ic_il_construction_sign.svg
  assets/icons/illustrative/action/db_ic_il_tips.svg
  assets/icons/illustrative/communication/db_ic_il_envelope_open.svg
  assets/icons/illustrative/covid_19/db_ic_il_ffp2_mask_with_sign.svg
  assets/icons/illustrative/feature/db_ic_il_cyber_security.svg
  assets/icons/illustrative/feature/db_ic_il_green_energy.svg
  assets/icons/illustrative/food/db_ic_il_beef.svg
  assets/icons/illustrative/food/db_ic_il_beef_and_poultry.svg
  assets/icons/illustrative/food/db_ic_il_crustaceans_and_molluscs.svg
  assets/icons/illustrative/food/db_ic_il_egg_free.svg
  assets/icons/illustrative/food/db_ic_il_energetic_strengthening.svg
  assets/icons/illustrative/food/db_ic_il_fish.svg
  assets/icons/illustrative/food/db_ic_il_fish_and_molluscs.svg
  assets/icons/illustrative/food/db_ic_il_gluten_free.svg
  assets/icons/illustrative/food/db_ic_il_lactose_free.svg
  assets/icons/illustrative/food/db_ic_il_lamb.svg
  assets/icons/illustrative/food/db_ic_il_light_pleasure.svg
  assets/icons/illustrative/food/db_ic_il_low_carb.svg
  assets/icons/illustrative/food/db_ic_il_pork.svg
  assets/icons/illustrative/food/db_ic_il_pork_and_beef.svg
  assets/icons/illustrative/food/db_ic_il_pork_and_poultry.svg
  assets/icons/illustrative/food/db_ic_il_poultry.svg
  assets/icons/illustrative/food/db_ic_il_rabbit.svg
  assets/icons/illustrative/food/db_ic_il_sustainable.svg
  assets/icons/illustrative/food/db_ic_il_vegan.svg
  assets/icons/illustrative/food/db_ic_il_vegetarian.svg
  assets/icons/illustrative/food/db_ic_il_venison.svg
  assets/icons/illustrative/food/db_ic_il_well_balanced.svg
  assets/icons/illustrative/news/db_ic_il_s-bahn_magazine_munich.svg
  assets/icons/illustrative/transportation/db_ic_il_call_a_bike.svg
  assets/icons/illustrative/transportation/db_ic_il_carsharing.svg
  assets/icons/illustrative/transportation/db_ic_il_shuttle.svg
  assets/icons/illustrative/travel/db_ic_il_hotel.svg
  assets/icons/illustrative/travel/db_ic_il_passenger_rights.svg
  assets/icons/illustrative/travel/db_ic_il_travel_insurance.svg
  source/_patterns/icons/_icons.demonstration.scss
  source/_patterns/icons/illustrative/illustrative-icons~food-drink.json
  source/_patterns/icons/illustrative/illustrative-icons~news.json
  source/_patterns/icons/illustrative/illustrative-icons~transportation.json
  source/_patterns/icons/illustrative/illustrative-icons~travel.json
Labels: patterns

#102 refactor: adapted pipeline script parts
  .github/actions/extract-branch/action.yml
  .github/scripts/build-gh-page.sh
  .github/workflows/00-scan-secrets.yml
Labels: bug, cicd

#103 fix(pipeline): deploy step
  .github/scripts/build-gh-page.sh
Labels: bug, cicd

#99 refactor: colors docs optimization
  source/_patterns/colors/intro.hbs
Labels: documentation

#101 fix(pipeline): steps skipped
  .github/workflows/02-deploy-gh-pages.yml
  .github/workflows/default.yml
  .github/workflows/pull-request-opened.yml
  .github/workflows/pull-request.yml
Labels: cicd

#80 Add vim files to .gitignore
  .gitignore
Labels: hacktoberfest
