Repository db-ui/base, pull requests merged in 2022-11, with the labels that each got.

#116 refactor: validate for default GH branch names
  package.json
Labels: enhancement

#120 feat(icons): added 16dp variants
  assets/icons/functional/fonts/icons-16-outline-action.woff
  assets/icons/functional/fonts/icons-16-outline-action.woff2
  assets/icons/functional/fonts/icons-16-outline-navigation.woff
  assets/icons/functional/fonts/icons-16-outline-navigation.woff2
Labels: enhancement

#117 refactor: icon library update
  assets/icons/README.md
  assets/icons/functional/images/action/db_ic_face_neutral_20.svg
  assets/icons/functional/images/action/db_ic_face_neutral_24.svg
  assets/icons/functional/images/action/db_ic_face_neutral_32.svg
  assets/icons/functional/images/action/db_ic_face_sad_20.svg
  assets/icons/functional/images/action/db_ic_face_sad_24.svg
  assets/icons/functional/images/action/db_ic_face_sad_32.svg
  assets/icons/functional/images/action/db_ic_face_smiling_20.svg
  assets/icons/functional/images/action/db_ic_face_smiling_24.svg
  assets/icons/functional/images/action/db_ic_face_smiling_32.svg
  assets/icons/functional/images/action/db_ic_logbook_20.svg
  assets/icons/functional/images/action/db_ic_logbook_24.svg
  assets/icons/functional/images/action/db_ic_logbook_32.svg
  assets/icons/functional/images/maps/db_ic_gps_north_32.svg
  assets/icons/functional/images/transportation/regular/db_ic_sev_20.svg
  assets/icons/functional/images/transportation/regular/db_ic_sev_24.svg
  assets/icons/functional/images/transportation/regular/db_ic_sev_32.svg
  source/_patterns/icons/functional/functional-icons~action.json
Labels: enhancement, patterns

#133 refactor: optimized dependabot settings
  .github/dependabot.yml
Labels: enhancement, cicd

#137 refactor: adapted stylelint rules from DB UI Core
  .stylelintrc.json
Labels: enhancement

#139 feat: moved Base aspects from DB UI Core to DB UI Base
  package-lock.json
  package.json
  scripts/color-classes-generator.js
  scripts/color-placeholders-generator.js
  scripts/scss-scaling-generator.js
  scripts/scss-typography-generator.js
  scss/_default.assets-paths.scss
  scss/_font-faces.scss
  scss/_rollup.assets-paths.scss
  scss/_tonality.scss
  scss/_webpack.assets-paths.scss
  scss/db-ui-base.scss
  scss/helpers/_a11y.scss
  scss/helpers/_clearfix.scss
  scss/helpers/_functions.scss
  scss/icon/_icon-family-calc.scss
  scss/icon/_icons.attributes-mappings.scss
  scss/icon/_icons.custom-properties.scss
  scss/icon/_icons.font-faces.scss
  scss/icon/_icons.helpers.scss
  scss/icon/_icons.placeholder.scss
  scss/icon/_icons.variables.scss
  scss/icon/icons.scss
  source/_patterns/icons/_icons.demonstration.scss
  source/_patterns/logo/_examples.demonstration.scss
  source/_patterns/spacings/_examples.demonstration.scss
  source/css/patternlab.scss
  tokens/font.jsonc
Labels: enhancement

#140 chore: corrected naming
  .github/workflows/01-lint.yml
Labels: cicd

#109 refactor: icons documentation display
  source/_patterns/icons/_icons.demonstration.scss
  source/_patterns/icons/functional/functional-icons.hbs
  source/_patterns/icons/functional/functional-icons.json
  source/_patterns/icons/illustrative/illustrative-icons.hbs
Labels: patterns

#135 refactor(dependabot): removed incorrect config
  .github/dependabot.yml
Labels: cicd

#155 refactor: rename patternlab.scss to documentation.scss
  package.json
  source/_meta/_head.hbs
  source/css/documentation.scss
Labels: documentation

#170 refactor: moved the defaults / fallbacks
  scss/icon/_icons.helpers.scss
Labels: enhancement
